
<html>
    <link rel="stylesheet" href="/css/header.css" />
    
  <header class="header">
    <div id="header-div">
      <div id="title-row">
        <h1>Nex Play</h1>
        <form class="search-form" id="search-form">
          <input
            type="search"
            id="search-input"
            placeholder="   Search movies..."
          />
          <button type="submit">Search</button>
        </form>
      </div>
      <nav>
        <a href="index.html">Home</a>
        <span>|</span>
        <a href="movies.html">watch later</a>
        <span>|</span>
        <a href="about.html">favourites</a>
      </nav>
    </div>
  </header>
</html>
