body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  font-family:
    -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
    sans-serif;
}

.calc-container {
  background: black;
  width: 300px;
  height: 500px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 5px;

  justify-content: center;
  align-content: center;
}

.calc-container h1 {
  grid-column: 1/ -1;
}

.calc-container h2 {
  grid-column: 1/ -1;
}

.grey3:hover {
  background: rgb(183, 180, 180);
  transform: scale(1.08);
}

.orange5:hover {
  background: rgb(242, 179, 61);
  transform: scale(1.08);
}

.black3:hover {
  background: rgb(95, 92, 92);
  transform: scale(1.08);
}

.btn {
  width: 70px;
  height: 70px;
  border-radius: 1000px;
  cursor: pointer;
  font-size: 30px;
  color: aliceblue;
  border-width: 1px;
  margin-bottom: 6px;
}

.grey3 {
  background: grey;
}

.orange5 {
  background: rgb(229, 150, 3);
}

.black3 {
  background: rgb(59, 59, 59);
}

h1 {
  color: white;
  text-align: right;
  padding-right: 10px;
  font-size: 30px;
  margin: 0;
  margin-bottom: 10px;
  height: 30px;

  white-space: nowrap;
  overflow: hidden;
width: max-content;
  min-width: 100%;
  
}

h2 {
  color: rgb(201, 202, 203);
  text-align: end;
  padding-top: 10px;
  padding-right: 10px;
  font-size: 20px;
  margin: 0;
  height: 25px;
}
