* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f4f4f4;
}

.container{
    width: 800px;
    max-width: 90%;
    margin: 50px auto;
    background: wheat;
}

h1{
    text-align: center;
}

.input-container{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    padding: 30px;
}

#task-info{
    flex: 1;
    padding: 12px;
    font-size: 16x;
}

button{
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
#add-task-button{
    background: #333;
    color: white;
}

.boards{
    display: flex;
    gap: 20px;
    padding: 10px;
}

.board{
    flex: 1;
    min-height: 400px;
    padding: 20px;
    background: #f4f4f4;
    border-radius: 8px;
}

.board h2{
    text-align: center;
}

.task-list{
    min-height: 300px;
    padding: 10px;
    background: #eee;
    border-radius: 5px;
}

.task {
    display: flex;
    padding: 15px;
    margin-bottom: 10px;
    background: white;
    border-radius: 5px;
    cursor: grab;
}

.delete-button{
    padding: 2px 2px;
    border: none;
    cursor: pointer;
    background: orange;
    border-radius: 4px;
   
}